%h2 Interior / Exterior

= back

= img_large "glass_pavilion_west_view.jpg" 
= img_large "glass_pavilion_east_view.jpg" 
= img_large "glass_pavilion_north_view.jpg" 
= img_large "glass_pavilion_exterior_1.jpg" 
= img_large "glass_pavilion_exterior_2.jpg" 
= img_large "framed_ glass_ structure_fragments.jpg" 
= img_large "glass_pavilion_interior_1.jpg" 
= img_large "glass_pavilion_interior_2.jpg" 
= img_large "frame_structure_1.jpg" 
= img_large "frame_structure_2.jpg" 