%h2 Master project

= back

= img_large "kurshland_idea.jpg" 
= img_large "kurshland_location.jpg" 
= img_large "kurshland_urban_location.jpg" 
= img_large "kurshland_urban_scheme_section.jpg" 
= img_large "kurshland_visualization_west_view.jpg" 
= img_large "kurshland_facade_east_visualization.jpg" 
= img_large "kurshland_visualization3.jpg" 
= img_large "kurshland_schema_idea_structure.jpg" 
= img_large "kurshland_floor_plans.jpg"
= img_large "kurshland_visualization_2.jpg"
= img_large "kurshland_roof_plan_square.jpg"
= img_large "kurshland_view_above.jpg"
= img_large "kurshland_project_detalization_restaurant_hotel.jpg"
= img_large "kurshland_visualization_northview.jpg"   
= img_large "kurshland_detalization_interior.jpg" 
= img_large "kurshland_yacht_parking_space.jpg" 
= img_large "kurshland_visualization_dock.jpg" 