%h2 Master project

= back

= img_large "kurshland_ideascheme.jpg" 
= img_large "kurshland_location.jpg" 
= img_large "kurshland_urbnscheme_section_small.jpg" 
= img_large "kurshland_visualization_westview.jpg" 
= img_large "kurshland_facade_east_visualization.jpg" 
= img_large "kurshland_planai_visualization_small.jpg" 
= img_large "kurshland_vizualization_northview.jpg" 
= img_large "kurshland_planu_detalisation.jpg" 
= img_large "kurshland_yachtparking_space.jpg" 
= img_large "kurshland_detalization_interier.jpg" 
